.home-container{
    padding: 150px 150px 125px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #0C0F11 60%, #FBFBFB 40%);
}
.home-container .column1{
    flex: 60%;
}
.home-container .column1 .heading{
    text-align: left;
    color: #FBFBFB;
    padding: 15px 0 150px;
}
.home-container .column1 .heading .name{
    font-size: 30px;
    margin: 0 0 5px;
}
.home-container .column1 .heading .job{
    font-size: 46px;
    margin: 0 0 5px;
}
.home-container .column1 .heading .job-description{
    font-size: 20px;
    margin: 0;
}
.home-container .column1 .buttons{
    text-align: left;
    
}
.home-container .column1 .buttons .button-container .button{
    display: block;
    text-align: left;
    color: #0C0F11;
    background-color: #FBFBFB;
    padding: 20px 10px;
    width: 40%;
    margin: 30px 0;
}
.home-container .column1 .socials{
    display: flex;
}
.home-container .column1 .socials .twitter{
    padding: 0 2.5px 0 0;
}
.home-container .column1 .socials .github, .socials .linkedin{
    padding: 0 2.5px;
}
.home-container .column2{
    flex: 40%;
    position: relative;
    overflow: visible;
}
.home-container .column2 img{
    width: 600px;
    position: absolute;
    right: 1%;
}
@media(max-width: 1400px){
    .home-container{
        padding: 120px 150px 125px;
    }
    .home-container .column1 .heading{
        padding: 15px 0 25px;
    }
    .home-container .column2 img{
        width: 500px;
        position: absolute;
        right: -10%;
    }
    .home-container .column1 .heading .name{
        font-size: 25px;
        margin: 0 0 5px;
    }
    .home-container .column1 .heading .job{
        font-size: 40px;
        margin: 0 0 5px;
    }
    .home-container .column1 .heading .job-description{
        font-size: 15px;
        margin: 0;
    }
}
@media(max-width: 1200px){
    .home-container .column1 .heading{
        margin-right: 75px;
    }
    .home-container .column1 .heading .name{
        font-size: 20px;
    }
    .home-container .column1 .heading .job{
        font-size: 30px;
    }
    .home-container .column1 .heading .job-description{
        font-size: 12px;
    }
    .home-container .column1 .buttons{
        font-size: 12px;
    }
    .home-container .column1 .socials a img{
        width: 25px;
    }
}