.navbar-container{
    position: fixed;
    top: 3%;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    /* margin: 0 150px; */
    background-color: #0C0F11;
    border-radius: 100px;
    border: 3px solid #FBFBFB;
    /* width: 1300px; */
    margin: 0 auto;
    width: 85%;
    z-index: 2;
}
.navbar-container .initials-container img{
    width: 100px;
    padding-left: 40px;
}
.navbar-container .tab-container .tabs{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    margin: 0;
}
.navbar-container .tab-container .tabs .tab{
    padding: 10px 12px;
    color: #FBFBFB;
}